<table class="<%= resource_class.to_s.downcase %> detail">
<% resource.attributes.each_pair do |attr, value| %>
  <% next if ['id', 'created_at', 'updated_at'].include?(attr) %>
  <tr>
    <th><%= resource_class.human_attribute_name attr.to_sym %></th>
    <td><%= value %></td>
  </tr>
<% end %>
  <tr><td colspan="2" id="machines_title">命令组列表：</td></tr>
  <% resource.cmd_groups.each{|object| %>
  <tr>
  	<td colspan="2"><label><%=link_to object.name, admin_cmd_group_path(object) %></label></td>
  </tr>
  <% }%>
  <tr><td colspan="2" id="machines_title">机器列表：</td></tr>
  <% resource.machines.each{|machine| %>
  <tr>
  	<td colspan="2"><label><%=machine.name %></label></td>
  </tr>
  <% }%>
</table>
