<h1><%= resource_class.model_name.human %></h1>

<table class="<%= resource_class.to_s.downcase %> detail">
  <tr>
    <th><%= resource_class.human_attribute_name :app %></th>
    <td><%= link_to resource.app, app_path(resource.app) %></td>
  </tr>
<% [:host, :name, :room].each do |attr| %>
  <tr>
    <th><%= resource_class.human_attribute_name attr %></th>
    <td><%= resource.send attr %></td>
  </tr>
<% end %>
</table>
<div><label>当前执行命令</label>
<ul>
<% resource.operations.each{|o| %>
  <li> <%=o.command_name %>
  	<% case o.status %>
  	<% when Operation::DOWNLOADED : %>
  	<%="已下发" %>
  	<% when Operation::RUNNING : %>
  	<%="执行中" %>
  	<% when Operation::COMPLETED : %>
  	<%="已完成: #{o.response}" %>
  	<% end %>
  </li>
<% } %>
</ul>
</div>

