<!DOCTYPE html>
<html>
<head>
  <title>Apposs</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
  	<!--
  	function add_machine(button){
  	  //遇到一个怪异的问题，form中动态添加的字段提交时就没了，不得以换个方式，写了一个很烂的实现
      var form = button.form;
      var options = form.elements['machine_name'].options;
      for(var i=0; i < options.length; i++){
        if(options[i].selected){
          var key = options[i].value;
          var value = options[i].innerHTML;
          $('<tr><td colspan="2"><label><input id="machines_'+key+'" type="checkbox" name="app[machines][]" value="'+key+'" checked="checked" />'+value+'</label></td></tr>').insertBefore($(button).parent().parent());
        }
      }
  	}
  	-->
  </script>
</head>
<body>
<span id="notice"><%=flash[:notice] %></span>
<ul><li><%=link_to '首页', '/' %>
	<% [Profile,App,Role,User].each{|res| %>
	<li><%=link_to res.model_name.human, eval("admin_#{res.to_s.tableize}_path") %></li>
	<% } %>
	<% if current_user.nil? %>
    <li>您好，请点击<%=link_to "这里", '/users/sign_in' %>登录系统</li>
	<% else %>
    <li><%=current_user.email %>，你好，欢迎使用淘宝运维系统！<%=link_to "退出", '/users/sign_out' %></li>
    <% end %>
</ul>
<%= yield %>

</body>
</html>
