<!DOCTYPE html>
<html>
<head>
  <title>Apposs</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
  	function add_machine(){
  		var options = document.forms[0]['machine[name]'].options;
  		if(var i=0; i < options.length; i++){
  			if(options[i].selected){
  				$('machines_title');
  			}
  		}
  	}
  </script>
</head>
<body>
<span id="notice"><%=flash[:notice] %></span>
<ul>
	<% [App].each{|res| %>
	<li><%=link_to res.model_name.human, "admin_"+res.to_s.tableize %></li>
	<% } %>
	<% if current_user.nil? %>
    <li>您好，请点击<%=link_to "这里", '/users/sign_in' %>登录系统</li>
	<% else %>
    <li><%=current_user.email %>，你好，欢迎使用淘宝运维系统！<%=link_to "退出", '/users/sign_out' %></li>
    <% end %>
</ul>
<%= yield %>

</body>
</html>
