<!DOCTYPE html>
<html>
<head>
  <title>Apposs</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "resources/css/ext-all.css" %>
  <%= javascript_include_tag "ext-all.js" %>
  <%= javascript_include_tag "ext-lang-zh_CN.js" %>
  <%= javascript_include_tag "admin-page.js" %>
  <%= csrf_meta_tag %>
  <style type="text/css">
      .x-grid-row-selected, .x-grid-row-over {
          background: #396295;
      }
  </style>
</head>
<body>
<div id="north">
  <span id="notice"><%= flash[:notice] %></span>
  <ul id="welcome_info">
    <li><%= current_user.email %>，你好，欢迎使用淘宝运维系统！<%= link_to "退出", '/users/sign_out' %></li>
  </ul>
</div>
<%= yield %>

</body>
</html>
